<div class="container">
    <div class="row">
        <div class="col">
            <p class="page-title">formação e cursos</p>


            <p class="page-indication">Formação Acadêmica</p>
            <p class="page-sub-indication">Universidade Paulista (Unip)</p>
            <p class="page-title-content"><a href="">MBA Em Desenvolvimento de Software Web / Mar 2016 – Mar 2017</a></p>
            <p class="content">O MBA Em Desenvolvimento de Software Web tem como objetivo preparar e formar especialistas em gestão e desenvolvimento de software para Web, que estejam aptos a analisar, projetar e implementar softwares Web utilizando padrões, linguagens, tecnologias e metodologias inovadoras e condizentes à realidade do mercado de trabalho. Ainda, esta especialização preocupa-se em formar profissionais preparados para gerenciar projetos de desenvolvimento de soluções para dispositivos móveis e prontos para utilizar das tecnologias da computação em nuvens, aliados aos métodos ágeis e preocupados com o reuso de software.</p>
        </div>
    </div>
</div>
    

